# -----------------------------------------------------------------------
# FLUTTER & DART
# -----------------------------------------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Documentação gerada
**/doc/api/

# Símbolos e Ofuscação
app.*.symbols
app.*.map.json

# -----------------------------------------------------------------------
# PLATAFORMAS ESPECÍFICAS (Android, iOS, Web, Desktop)
# -----------------------------------------------------------------------

# Android
/android/app/debug
/android/app/profile
/android/app/release
*.keystore
*.jks
local.properties

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/DerivedData
*.item
*.moved-aside
Podfile.lock

# Web
build/web/
.dart_tool/chrome-device/

# MacOS (Desktop)
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Linux (Desktop)
**/linux/flutter/ephemeral/

# Windows (Desktop)
**/windows/flutter/ephemeral/
**/windows/CMakeLists.txt.user

# -----------------------------------------------------------------------
# IDEs & TOOLS
# -----------------------------------------------------------------------

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# -----------------------------------------------------------------------
# MISCELLANEOUS / OS
# -----------------------------------------------------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# Arquivos de ambiente (Senhas/Keys)
# .env*

# -----------------------------------------------------------------------
# MELOS WORKSPACE
# -----------------------------------------------------------------------
.melos/